
.main {
  &-layout-tag-nav-wrapper {
    padding: 0;
    height: 40px;
    background: #F0F0F0;
  }

  &-layout-left {
    .main-layout-logo {
      height: 64px;
      transition: all .3s;
      background: #002140;
      overflow: hidden;
      img {
        height: 44px;
        width: auto;
        display: block;
        margin: 0 auto;
      }
      .logo-text {
        color: white;
        text-align: center;
        line-height: 64px;
      }
    }
    .side-menu-wrapper {
      min-height: 100vh;
    }

    .main-layout-header {
      background: #fff;
      padding: 0 5px;
    }

    .main-layout-header-logo {

    }

    .main-layout-header-logo-collapsed {
      width: 60px;
    }

    .main-layout-header-bar {
      float: right;
      list-style-type: none;
      margin: 0px;
      display: inline-block;
      vertical-align: top;
    }

    .main-layout-header-bar li {
      float: left;
      margin-right: 8px;
    }

    .main-layout-bread-crumb {
      display: inline-block;
      vertical-align: top;
      margin-left: 15px;
    }

    .main-layout-content-wrapper {
      height: 100%;
      overflow: hidden;
    }

    .main-layout-content-collapsed {
    }

    .main-layout-view-wrapper {
      padding: 18px;
      height: calc(100% - 80px);
      overflow: auto;
    }
  }

  &-layout-top {
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    .main-layout-logo {
      width: 100px;
      height: 30px;
      background: #5b6270;
      border-radius: 3px;
      float: left;
      position: relative;
      top: 15px;
      left: 20px;
    }

    .main-layout-header {
      position: fixed;
      width: 100%;
      z-index: 999;
    }

    .side-menu-wrapper {
      min-height: 60px;
    }

    .main-layout-bread-crumb {
      display: block;
    }

    .main-layout-content {
      background: #fff;
      minHeight: 500px
    }
  }
}

