.custom-bread-crumb {
  display: inline-block;
  vertical-align: top;
}
.custom-bread-crumb .ivu-breadcrumb > span:last-child {
  color: #fff;
}
.custom-bread-crumb .ivu-breadcrumb a {
  color: #fff;
}
